{% extends "base.html" %} {% block title %}About - My Portfolio{% endblock %} {%
block content %}
<canvas id="constellation-canvas"></canvas>
<canvas id="fibonacci-canvas"></canvas>

<div class="about-content">
  <h1>About Me</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi incidunt
    aliquid corporis molestias quidem dolores hic, accusantium totam vitae? Illo
    rem aliquam molestiae eius aut quidem blanditiis nulla cupiditate amet.
  </p>

  <h2>Education</h2>
  <p>Blablabla Blablabla</p>

  <h2>Interests</h2>
  <p>Blablabla Blablabla</p>
</div>

<script src="{{ url_for('static', filename='js/constellation.js') }}"></script>
<script src="{{ url_for('static', filename='js/fibonacci-small.js') }}"></script>
{% endblock %}
