{% extends "base.html" %} {% block title %}Home - My Portfolio{% endblock %} {%
block content %}
<canvas id="particleCanvas"></canvas>

<div class="hero-content">
  <h1>Welcome to My Portfolio</h1>

  <!-- 3D Spiral -->
  <div class="spiral-container">
    <div class="spiral"></div>
  </div>

  <p>Hi, and Welcome to my Website, I'm Flavia!</p>
  <p></p>
  <p>
    💬 Click the chat button to ask Amelia, the AI assistant, anything about my
    experiences, projects, and skills!
  </p>
</div>

<script src="{{ url_for('static', filename='js/particles.js') }}"></script>
<script src="{{ url_for('static', filename='js/spiral.js') }}"></script>
{% endblock %}
