{% extends "base.html" %} {% block title %}Skills - My Portfolio{% endblock %}
{% block content %}
<canvas id="fibonacci-rectangles-canvas"></canvas>

<div class="skills-content">
  <h1 id="typewriter"></h1>

  <h2>Programming Languages</h2>
  <p>Python, JavaScript, SQL, HTML, CSS.</p>

  <h2>Frameworks & Libraries</h2>
  <p>Flask, SQLAlchemy, Jinja.</p>

  <h2>Tools & Technologies</h2>
  <p>
    Git, GitHub, GitHub Projects, Docker, AWS, Figma, UX Design, Agile tools.
  </p>

  <h2>Databases</h2>
  <p>SQL, SQLAlchemy ORM.</p>

  <h2>Specializations</h2>
  <p>
    DevOps, Cloud Computing, Product Management, Project Management, Full-Stack
    Development.
  </p>
</div>

<script src="{{ url_for('static', filename='js/fibonacci-rectangles.js') }}"></script>
<script src="{{ url_for('static', filename='js/typewriter.js') }}"></script>
{% endblock %}
