{% extends "base.html" %} {% block title %}Skills - My Portfolio{% endblock %}
{% block content %}
<canvas id="fibonacci-rectangles-canvas"></canvas>

<div class="skills-content">
  <h1 id="typewriter"></h1>

  <h2>Programming Languages</h2>
  <p>Python, JavaScript, CSS, HTML</p>

  <h2>Frameworks & Libraries</h2>
  <p>Flask, Matplotlib, Numpy, Pandas.</p>

  <h2>Tools & Technologies</h2>
  <p>Git, Docker, VS Code, etc.</p>

  <h2>Databases</h2>
  <p>MySQL, PostgreSQL, SQLlite</p>
</div>

<script src="{{ url_for('static', filename='js/fibonacci-rectangles.js') }}"></script>
<script src="{{ url_for('static', filename='js/typewriter.js') }}"></script>
{% endblock %}
